body {
  height: 100%;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  margin: 0px;
  /* background: rgb(156, 208, 156); */
  background-image: url("images/DarkGreenBG.jpg");
  background-size: cover;
  font-family: "Kode Mono", monospace;
  color: rgb(66, 46, 21);
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  outline: 3px solid rgb(197, 255, 220);
  transition: all 0.4s;
  align-self: center;
  margin: 0px;
  display: flex;
  margin-bottom: 30px;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.9em;
  margin-top: 50px;
  /* font-family: "Kode Mono", monospace; */
}
h2 {
  font-size: 1.4em;
}

.resultsDiv {
  gap: 36px;
  margin: auto;
  margin-top: 100px;
  padding: 30px;
  border: 2px dashed black;
  align-items: center;
  display: none;
  width: 40%;
  background: rgb(215, 237, 221);
}

button {
  transition: transform 0.4s;
  margin: 3px;
  background: rgb(126, 77, 42);
  color: white;
  /* font-family: "Nunito"; */
  font-size: 1.3em;
  width: fit-content;
  padding: 5px;
  font-family: "Kode Mono", monospace;
}

.question {
  background: rgba(215, 237, 221, 0.7);
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-top: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  width: 60%;
  align-self: center;
  display: flexbox;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 11%;
}

div {
  align-self: center;
}

button:hover {
  background: rgb(151, 115, 88);
  transform: scale(1.1);
}

button:hover.clicked {
  background-color: rgb(0, 82, 37);
}

.clicked {
  background-color: rgb(0, 82, 37);
}

:disabled {
  color: rgb(183, 179, 179);
}

li {
  list-style-type: none;
  font-size: 1.05em;
  margin-bottom: 10px;
  text-decoration: underline;
  color: blue;
}

.score-element {
  background-color: antiquewhite;
  text-decoration: none;
  color: rgb(66, 46, 21);
}

p {
  font-size: 1.2em;
  background: rgb(246, 255, 242);
  padding: 30px;
  margin-top: 0px;
}

.resultImg {
  height: 400px;
  width: 200px;
  align-self: center;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  outline: none;
}

.resultTitle {
  text-align: center;
  font-size: 2em;
  background-color: rgb(126, 77, 42);
  padding: 10px;
  margin: 0px;
  color: rgb(238, 255, 234);
}

.hbar {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#Dandelion {
  background-color: yellow;
}
